<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0)` { %>
                <h1>No orders found</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li>
                            <h2>Order #<%= order._id %></h2>
                            <p>Order placed on <%= order.date %></p>
                            <p>Order total: $<%= order.total %></p>
                            <p>Order status: <%= order.status %></p>
                            <p>Order items:</p>
                            <ul>
                                <% order.products.forEach(product => { %>
                                    <li>
                                        <p><%= product.product.title %></p>
                                        <p>Quantity: <%= product..product.quantity %></p>
                                        <p>Price: $<%= product..product.price %></p>
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
        <%- include('../includes/end.ejs') %>