<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0)` { %>
                <h1>No orders found</h1>
            <% } else { %>
                <h1>Orders</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Order Total</th>
                            <th>Order Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let order of orders) { %>
                            <tr>
                                <td><%= order.id %></td>
                                <td><%= order.order_date %></td>
                                <td><%= order.order_total %></td>
                                <td><%= order.order_status %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
        </main>
        <%- include('../includes/end.ejs') %>